@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900&display=swap");
.verde {
  color: #009D6E !important; }

/* Generalidades principales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: Lato, sans-serif; }

.header1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  width: 100%;
  margin: 0 auto;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5); }
  .header1 .navbar-brand img {
    max-height: 40px;
    padding-left: 90px; }
  .header1 .navbar-nav .nav-link {
    color: #030512;
    font-weight: 700;
    font-style: normal;
    transition: color 0.3s;
    margin-left: 20px; }
    .header1 .navbar-nav .nav-link:hover, .header1 .navbar-nav .nav-link:active {
      color: #009D6E; }

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding: 100px;
  margin-top: -70px;
  background-image: url("../img/baner-principal.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.principal {
  padding-bottom: 30px;
  font-size: 35px;
  line-height: 1.2; }
  .principal span.verde {
    color: #009D6E !important; }

.column2-hero {
  padding-bottom: 25px;
  padding-right: 45%;
  line-height: 1.4;
  font-size: 18px; }

.btn-link {
  background-color: #009D6E;
  color: #fff !important;
  text-decoration: none !important;
  border-radius: 25px;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  padding: 10px 20px; }
  .btn-link:hover, .btn-link:active {
    background-color: #6682FF; }

.image-section {
  padding: 30px 20px; }

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px; }

.image-container img {
  max-width: 16%;
  height: auto; }

.celeste {
  color: #6682FF; }

.seccion2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
  background-color: #fff; }

.seccion2 .texto2oscuro {
  margin-right: 10%; }

.encabezado2 {
  padding-bottom: 30px;
  font-size: 25px;
  line-height: 1.2; }

.parrafonormal {
  font-size: 18px;
  line-height: 1.3; }

.parrafonormalcentro {
  font-size: 18px;
  line-height: 1.3;
  text-align: center; }

.imagenseccion2 {
  align-items: center;
  max-height: 400px;
  width: auto; }

.boton-sección2 {
  margin-top: 30px; }

.btn-link2 {
  background-color: #6682FF;
  color: #fff !important;
  text-decoration: none !important;
  border-radius: 25px;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  padding: 10px 20px; }
  .btn-link2:hover, .btn-link2:active {
    background-color: #009D6E; }

.seccion3 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 25px 50px;
  background-color: #fff;
  border: 2px solid #00A651;
  border-radius: 50px;
  margin: 100px; }

.seccion3-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; }

.seccion3-texto {
  flex: 1; }

.seccion3-texto .parrafonormalcentro {
  font-size: 17px;
  line-height: 1.3;
  padding-bottom: 5px;
  text-align: center; }

.encabezado3 {
  padding-bottom: 15px;
  font-size: 20px;
  line-height: 1.2; }

.seccion3-imagen {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }

.seccion3-imagen img {
  max-width: 60%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px; }

.seccion3-botones {
  margin-top: 25px;
  margin-bottom: 15px; }

.seccion3-botones .btn-link {
  margin-right: 3%; }

.seccion3-botones .btn-link2 {
  margin-left: 3%; }

.seccion4 {
  padding-top: 25px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
  text-align: center; }

.seccion4-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  margin-top: 100px; }

.seccion4-item {
  padding: 40px;
  border: 2px solid #6682FF;
  border-radius: 25px;
  text-align: center; }

.seccion4-icono {
  max-width: 70px;
  padding-bottom: 10px; }

.encabezado4 {
  padding-bottom: 10px;
  font-size: 22px;
  line-height: 1.2; }

.seccion4-titulo {
  text-align: center;
  font-size: 17px;
  line-height: 1.3;
  padding-bottom: 5px; }

.seccion4-item .parrafonormal {
  text-align: center;
  font-size: 16px;
  line-height: 1.3;
  padding-bottom: 5px; }

.seccion5 {
  padding-top: 50px;
  padding-bottom: 100px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center; }

.seccion5-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px; }

.seccion5-item {
  flex: 1;
  max-width: 300px;
  padding: 35px 20px;
  border: 2px solid #00A651;
  border-radius: 50px;
  margin: 10px;
  text-align: center;
  background-color: #f9f9f9; }

.encabezado5 {
  padding-bottom: 10px;
  font-size: 22px;
  line-height: 1.2;
  color: #009D6E; }

.seccion5-imagen {
  width: auto;
  height: 200px;
  object-fit: cover;
  margin-bottom: 15px; }

.seccion5-titulo {
  font-size: 18px;
  color: #009D6E;
  margin-bottom: 10px;
  font-weight: bold; }

.seccion5-container .parrafonormal {
  padding-bottom: 20px;
  font-size: 15px;
  line-height: 1.2; }

.footer {
  background-color: #030512;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 60px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: left;
  font-size: 14px;
  line-height: 1.4; }

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap; }

.footer-item {
  flex: 1;
  min-width: 200px;
  margin: 0 20px;
  box-sizing: border-box; }

.footer-logo {
  max-width: 150px;
  margin-bottom: 5px; }

.footer-social {
  display: flex;
  gap: 10px; }

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  background-color: #fff;
  color: #030512;
  border-radius: 50%;
  transition: background-color 0.3s, color 0.3s;
  text-decoration: none; }

.social-icon i {
  font-size: 15px; }

.footer-redtexto {
  padding-bottom: 10px; }

.footer-pago {
  padding-bottom: 5px; }

.footer-payment {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 30px; }

.footer-payment img {
  max-width: 90px;
  height: auto;
  box-sizing: border-box; }

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  border-top: 1px solid #7a7a7a;
  padding-top: 10px; }

.hero2 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding: 100px;
  margin-top: -70px;
  background-image: url("../img/pre-3-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .hero2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1; }
  .hero2 > * {
    position: relative;
    z-index: 2; }

.seccion2finance {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 100px;
  background-color: #fff; }

.accordion-button {
  background-color: #f0f0f0;
  font-weight: bold; }

.accordion-body img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  margin-bottom: 15px; }

.info-video {
  text-align: center;
  margin-top: 30px;
  width: 100%; }

.info-video iframe {
  width: 55%;
  height: auto;
  aspect-ratio: 9 / 16;
  border-radius: 10px;
  margin-bottom: 30px; }

.header1 {
  background-color: rgba(255, 255, 255, 0.9); }

.nosotroshero {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 150px;
  text-align: center;
  height: 100vh;
  background-color: #6682FF;
  color: #fff; }

.nosotrostexthero {
  padding-bottom: 25px; }

.nosotrossection2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 70px 100px;
  gap: 100px; }

.imagen2nosotros {
  max-width: 450px;
  border-radius: 50px; }

.seccion2nosotros {
  padding-left: 70px;
  padding-right: 70px; }

.encabezados2nosotros {
  font-size: 35px;
  font-weight: 900;
  padding-bottom: 10px;
  padding-top: 30px;
  text-align: left; }

.valores-section {
  text-align: center;
  padding: 20px 100px; }

.valores-container h2 {
  color: #6682FF;
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 10px; }

.valores-container p {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px; }

.valores-container .pilares-fundamentales {
  font-weight: bold;
  color: #6682FF; }

.valores-items {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 100px;
  justify-content: space-around;
  gap: 20px; }

.valor-item {
  background-color: #fff;
  border-radius: 25px;
  padding: 20px;
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.267);
  flex: 1 1 calc(25% - 40px);
  margin: 10px;
  text-align: center; }

.valor-item img {
  max-width: 80px;
  margin-bottom: 15px; }

.valor-item h3 {
  color: #6682FF;
  font-size: 24px;
  margin-bottom: 10px; }

.valor-item p {
  color: #030512;
  font-size: 16px; }

/* Sección Hero */
.hero2mentores {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: -70px;
  background-image: url("../img/baner-docente.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

/* Sección 2 imagenes */
.mentores-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 100px;
  padding-right: 100px; }

.mentor-img {
  max-width: 350px;
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); }

/* Sección 3 */
.mentoressection3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 70px 100px;
  gap: 100px; }

/* Sección 4 */
.seccion4mentores {
  display: flex;
  align-items: center;
  padding: 50px 25px 0px 25px; }

.seccion4mentores .mentores-imagen {
  max-width: 100%;
  max-height: auto; }

.testimonioshero {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 150px;
  text-align: center;
  height: 100vh;
  background-color: #009D6E;
  color: #fff; }

.testimonio-videos-section {
  padding: 80px 100px;
  background-color: #fff;
  text-align: center; }
  .testimonio-videos-section h2 {
    font-size: 28px;
    color: #030512;
    margin-bottom: 10px; }

.testimonio-videos-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-top: 50px; }

.testimonio-video-item {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center; }
  .testimonio-video-item iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    border-radius: 10px; }
  .testimonio-video-item p {
    font-size: 14px;
    color: #333;
    margin: 10px 0; }

.btn-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #009D6E;
  color: #fff;
  text-decoration: none;
  border-radius: 25px;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s; }
  .btn-link:hover, .btn-link:active {
    background-color: #6682FF; }

@media (max-width: 992px) {
  .header1 {
    padding: 15px 30px;
    width: calc(100% - 60px); }
    .header1 .navbar-brand {
      margin-left: 15px; }
    .header1 .navbar-toggler {
      margin-right: 15px; }
    .header1 .navbar-nav .nav-item {
      margin: 10px 0; } }

@media (max-width: 576px) {
  .header1 {
    padding: 10px 20px;
    width: calc(100% - 40px); }
    .header1 .navbar-brand {
      margin-left: 10px; }
    .header1 .navbar-toggler {
      margin-right: 10px; }
    .header1 .navbar-nav .nav-item {
      margin: 8px 0; } }

@media (max-width: 992px) {
  .hero {
    text-align: center;
    align-items: center;
    padding: 50px 20px; }
  .principal {
    font-size: 28px; }
  .column2-hero {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 20px;
    font-size: 16px; }
  .btn-link {
    font-size: 14px; } }

@media (max-width: 576px) {
  .hero {
    text-align: center;
    align-items: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5); }
  .principal {
    font-size: 24px; }
  .column2-hero {
    font-size: 16px; }
  .btn-link {
    font-size: 14px; } }

@media (max-width: 992px) {
  .image-container img {
    max-width: 30%; } }

@media (max-width: 576px) {
  .image-section {
    display: none; } }

@media (max-width: 992px) {
  .seccion2 {
    flex-direction: column;
    align-items: center;
    padding: 60px 50px;
    text-align: center; }
  .seccion2 .texto2oscuro {
    margin-right: 0;
    margin-bottom: 20px; }
  .imagenseccion2 {
    max-height: 350px;
    width: 100%;
    height: auto; }
  .encabezado2 {
    font-size: 22px; }
  .parrafonormal,
  .parrafonormalcentro {
    font-size: 16px; } }

@media (max-width: 576px) {
  .seccion2 {
    flex-direction: column;
    padding: 80px 20px 20px;
    text-align: center; }
  .imagenseccion2 {
    max-height: 250px;
    width: 100%;
    height: auto; }
  .encabezado2 {
    font-size: 20px; }
  .parrafonormal,
  .parrafonormalcentro {
    font-size: 15px; } }

@media (max-width: 992px) {
  .seccion3 {
    margin: 50px 100px;
    padding: 25px 30px; }
  .seccion3-container {
    flex-direction: column;
    text-align: center; }
  .seccion3-imagen img {
    max-width: 80%; }
  .seccion3-botones {
    margin-bottom: 60px; }
  .seccion3-botones .btn-link,
  .seccion3-botones .btn-link2 {
    display: inline-block;
    width: auto; } }

@media (max-width: 576px) {
  .seccion3 {
    margin: 30px 15px;
    padding: 25px 30px; }
  .seccion3-container {
    flex-direction: column;
    text-align: center; }
  .seccion3-texto .parrafonormalcentro,
  .encabezado3 {
    font-size: 16px; }
  .seccion3-imagen img {
    max-width: 90%;
    margin-bottom: 15px; }
  .seccion3-botones {
    margin-top: 15px;
    margin-bottom: 15px; }
  .seccion3-botones .btn-link,
  .seccion3-botones .btn-link2 {
    display: inline-block;
    width: auto;
    margin-top: 10px;
    margin-bottom: 10px; } }

@media (max-width: 992px) {
  .seccion4-container {
    display: none; }
  .carousel-item .seccion4-item {
    width: 90%;
    margin: 0 auto; }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: #6682FF;
    border-radius: 50%;
    width: 40px;
    height: 40px; }
  .carousel-indicators [data-bs-target] {
    background-color: #6682FF; }
  .carousel-indicators {
    position: relative;
    bottom: -20px; } }

@media (max-width: 576px) {
  .carousel-item .seccion4-item {
    width: 90%;
    margin: 0 auto;
    padding: 20px; }
  .seccion4-item .parrafonormalcentro {
    text-align: center;
    font-size: 16px;
    line-height: 1.3;
    padding-bottom: 10px; } }

@media (max-width: 992px) {
  .seccion5-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; }
  .seccion5-item:nth-child(3) {
    grid-column: span 2;
    margin: 0 auto; } }

@media (max-width: 650px) {
  .seccion5-container {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .seccion5-item {
    max-width: 90%;
    margin: 10px auto; } }

@media (max-width: 992px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px; }
  .footer-item {
    margin: 20px 0; }
  .footer-payment {
    justify-content: center;
    gap: 15px; }
  .footer-payment img {
    max-width: 80px; } }

@media (max-width: 576px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px; }
  .footer-item {
    margin: 15px 0; }
  .footer-payment {
    justify-content: center;
    gap: 10px; }
  .footer-payment img {
    max-width: 70px; } }

@media (max-width: 992px) {
  .hero2 {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 50px;
    align-items: center;
    text-align: center; } }

@media (max-width: 576px) {
  .hero2 {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    text-align: center;
    align-items: center; } }

@media (max-width: 992px) {
  .seccion2finance {
    flex-direction: column;
    padding: 50px; }
  .info-video iframe {
    width: 60%; } }

@media (max-width: 576px) {
  .seccion2finance {
    flex-direction: column;
    padding: 20px; }
  .info-video iframe {
    width: 80%; } }

@media (max-width: 991px) {
  .nosotroshero {
    padding: 30px 20px;
    font-size: 24px; }
  .nosotrossection2 {
    flex-direction: column;
    gap: 50px; }
  .imagen2nosotros {
    max-width: 100%;
    border-radius: 25px;
    margin-left: 15px;
    margin-right: 15px; }
  .seccion2nosotros {
    padding-left: 20px;
    padding-right: 20px; }
  .encabezados2nosotros {
    text-align: center; }
  .seccion2nosotros .parrafonormal-centrado {
    text-align: center; }
  .valores-section {
    padding: 20px; }
  .valores-items {
    flex-direction: column;
    gap: 40px; } }

@media (max-width: 767px) {
  .nosotroshero {
    padding: 20px 10px;
    font-size: 20px; }
  .nosotrossection2 {
    flex-direction: column;
    gap: 40px; }
  .imagen2nosotros {
    max-width: 100%;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px; }
  .seccion2nosotros {
    padding-left: 10px;
    padding-right: 10px; }
  .encabezados2nosotros {
    text-align: center; }
  .seccion2nosotros .parrafonormal-centrado {
    text-align: center; }
  .valores-section {
    padding: 15px 10px; }
  .valores-items {
    flex-direction: column;
    gap: 30px; } }

@media (max-width: 992px) {
  .hero2mentores {
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    align-items: center; }
  .mentores-container {
    padding-left: 50px;
    padding-right: 50px; }
  .mentoressection3 {
    flex-direction: column;
    padding: 50px;
    align-items: center;
    text-align: center; }
  .seccion4mentores .mentores-imagen {
    max-width: 100%;
    max-height: auto; } }

@media (max-width: 576px) {
  .hero2mentores {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    align-items: center; }
  .mentores-container {
    padding-left: 20px;
    padding-right: 20px; }
  .mentoressection3 {
    padding: 20px;
    align-items: center;
    text-align: center; }
  .seccion4mentores .mentores-imagen {
    max-width: 100%;
    max-height: auto; } }

@media (max-width: 768px) {
  .testimonioshero {
    padding: 30px 20px;
    /* Ajuste de padding para tabletas y móviles */
    font-size: 24px;
    /* Ajuste de tamaño de fuente para mejor legibilidad */ }
  .testimonio-videos-grid {
    grid-template-columns: repeat(2, 1fr);
    /* Dos columnas en tabletas */
    gap: 20px; } }

@media (max-width: 576px) {
  .testimonioshero {
    padding: 20px 10px;
    font-size: 20px; }
  .testimonio-videos-grid {
    grid-template-columns: 1fr;
    /* Una sola columna en móviles */
    gap: 20px; } }
