//? Página Index

// !Header

@mixin responsive-header($padding, $brand-margin-left, $toggler-margin-right, $nav-item-margin) {
  padding: $padding;

  .navbar-brand {
    margin-left: $brand-margin-left;
  }

  .navbar-toggler {
    margin-right: $toggler-margin-right;
  }

  .navbar-nav {
    .nav-item {
      margin: $nav-item-margin;
    }
  }
}

@media (max-width: 992px) {
  .header1 {
    @include responsive-header($padding-lg, 15px, 15px, 10px 0);
    width: calc(100% - 60px);
  }
}

@media (max-width: 576px) {
  .header1 {
    @include responsive-header($padding-sm, 10px, 10px, 8px 0);
    width: calc(100% - 40px);
  }
}

// !Sección Hero

@media (max-width: 992px) {
  .hero {
    text-align: center;
    align-items: center;
    padding: $padding-hero-md;
  }

  .principal {
    font-size: $font-size-md;
  }

  .column2-hero {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 20px;
    font-size: 16px;
  }

  .btn-link {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .hero {
    text-align: center;
    align-items: center;
    padding: $padding-hero-sm;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .principal {
    font-size: $font-size-sm;
  }

  .column2-hero {
    font-size: 16px;
  }

  .btn-link {
    font-size: 14px;
  }
}


// !Sección de imágenes

@media (max-width: 992px) {
  .image-container img {
    max-width: $image-max-width-md; // Ajuste para que quepan 3 imágenes por fila
  }
}

@media (max-width: 576px) {
  .image-section {
    display: none; // Ocultar las imágenes en móviles
  }
}


// !Sección 2

@media (max-width: 992px) {
  .seccion2 {
    flex-direction: column;
    align-items: center;
    padding: $padding-seccion2-md;
    text-align: center;
  }

  .seccion2 .texto2oscuro {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .imagenseccion2 {
    max-height: 350px;
    width: 100%;
    height: auto;
  }

  .encabezado2 {
    font-size: $font-size-encabezado2-md;
  }

  .parrafonormal,
  .parrafonormalcentro {
    font-size: $paragraph-font-size2-md;
  }
}

@media (max-width: 576px) {
  .seccion2 {
    flex-direction: column;
    padding: $padding-seccion2-sm;
    text-align: center;
  }

  .imagenseccion2 {
    max-height: 250px;
    width: 100%;
    height: auto;
  }

  .encabezado2 {
    font-size: $font-size-encabezado2-sm;
  }

  .parrafonormal,
  .parrafonormalcentro {
    font-size: $paragraph-font-size2-sm;
  }
}


// !Sección 3

@media (max-width: 992px) {
  .seccion3 {
    margin: $seccion3-margin-md;
    padding: $seccion3-padding-md;
  }

  .seccion3-container {
    flex-direction: column;
    text-align: center;
  }

  .seccion3-imagen img {
    max-width: 80%;
  }

  .seccion3-botones {
    margin-bottom: 60px;
  }

  .seccion3-botones .btn-link,
  .seccion3-botones .btn-link2 {
    display: inline-block;
    width: auto;
  }
}

@media (max-width: 576px) {
  .seccion3 {
    margin: $seccion3-margin-sm;
    padding: $seccion3-padding-sm;
  }

  .seccion3-container {
    flex-direction: column;
    text-align: center;
  }

  .seccion3-texto .parrafonormalcentro,
  .encabezado3 {
    font-size: $font-size-encabezado3-sm;
  }

  .seccion3-imagen img {
    max-width: 90%;
    margin-bottom: 15px;
  }

  .seccion3-botones {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .seccion3-botones .btn-link,
  .seccion3-botones .btn-link2 {
    display: inline-block;
    width: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}


// !Sección 4

@media (max-width: 992px) {
  
  .seccion4-container {
    display: none;
  }

  .carousel-item .seccion4-item {
    width: 90%;
    margin: 0 auto;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: $carousel-control-bg;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

  .carousel-indicators [data-bs-target] {
    background-color: $carousel-control-bg;
  }

  .carousel-indicators {
    position: relative;
    bottom: -20px;
  }
}

@media (max-width: 576px) {

  .seccion4-container {
    display: none;
  }

  .carousel-item .seccion4-item {
    width: 100%;
    margin: 0 auto;
  }

  .seccion4-item .parrafonormalcentro {
    text-align: center;
    font-size: $font-size-parrafo4;
    line-height: 1.3;
    padding-bottom: 10px;
  }
}


// !Sección 5

@media (max-width: 992px) {
  .seccion5-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $seccion5-grid-gap-md;
  }

  .seccion5-item:nth-child(3) {
    grid-column: span 2;
    margin: 0 auto;
  }
}

@media (max-width: 650px) {
  .seccion5-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .seccion5-item {
    max-width: 90%;
    margin: 10px auto;
  }
}


//! Footer

@media (max-width: 992px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: $footer-padding-sides-md;
    padding-right: $footer-padding-sides-md;
  }

  .footer-item {
    margin: $footer-item-margin-md;
  }

  .footer-payment {
    justify-content: center;
    gap: $footer-payment-gap-md;
  }

  .footer-payment img {
    max-width: $footer-payment-img-max-width-md;
  }
}

@media (max-width: 576px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: $footer-padding-sides-sm;
    padding-right: $footer-padding-sides-sm;
  }

  .footer-item {
    margin: $footer-item-margin-sm;
  }

  .footer-payment {
    justify-content: center;
    gap: $footer-payment-gap-sm;
  }

  .footer-payment img {
    max-width: $footer-payment-img-max-width-sm;
  }
}


//? Página Finance

//! Media Queries Hero2

@media (max-width: 992px) {
  .hero2 {
    background-color: $hero2-bg-color-md;
    padding: $hero2-padding-md;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .hero2 {
    background-color: $hero2-bg-color-sm;
    padding: $hero2-padding-sm;
    text-align: center;
    align-items: center;
  }
}



//! Media Queries Sección 2 Finance

@media (max-width: 992px) {
  .seccion2finance {
    flex-direction: column;
    padding: $seccion2finance-padding-md;
  }

  .info-video iframe {
    width: $video-width-md;
  }
}

@media (max-width: 576px) {
  .seccion2finance {
    flex-direction: column;
    padding: $seccion2finance-padding-sm;
  }

  .info-video iframe {
    width: $video-width-sm;
  }
}


//? Página Nosotros

//! Media queries para la Sección Hero
@media (max-width: 992px) {
  .nosotroshero {
    padding: $nosotros-hero-padding-md;
    font-size: $nosotros-hero-font-size-md;
  }

  .nosotrossection2 {
    flex-direction: column;
    gap: $nosotros-section2-gap-md;
  }

  .imagen2nosotros {
    max-width: 100%;
    border-radius: 25px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .seccion2nosotros {
    padding-left: $nosotros-section2-padding-md;
    padding-right: $nosotros-section2-padding-md;
  }

  .encabezados2nosotros {
    text-align: center; // Centrando el texto de misión y visión
  }

  .seccion2nosotros .parrafonormal-centrado {
    text-align: center;
  }

  .valores-section {
    padding: $valores-padding-md;
  }

  .valores-items {
    flex-direction: column;
    gap: 40px;
  }
}

@media (max-width: 576px) {
  .nosotroshero {
    padding: $nosotros-hero-padding-sm;
    font-size: $nosotros-hero-font-size-sm;
  }

  .nosotrossection2 {
    flex-direction: column;
    gap: $nosotros-section2-gap-sm;
  }

  .imagen2nosotros {
    max-width: 100%;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .seccion2nosotros {
    padding-left: 10px;
    padding-right: 10px;
  }

  .encabezados2nosotros {
    text-align: center;
  }

  .seccion2nosotros .parrafonormal-centrado {
    text-align: center;
  }

  .valores-section {
    padding: $valores-padding-sm;
  }

  .valores-items {
    flex-direction: column;
    gap: 30px;
  }
}


//! Media queries Mentores

@media (max-width: 992px) {
  .hero2mentores {
    padding-left: $hero2mentores-padding-md;
    padding-right: $hero2mentores-padding-md;
    text-align: center;
    align-items: center;
  }

  .mentores-container {
    padding-left: $seccion2mentores-padding-md;
    padding-right: $seccion2mentores-padding-md;
  }

  .mentoressection3 {
    flex-direction: column;
    padding: $mentores-section3-padding-md;
    align-items: center;
    text-align: center;
  }

  .seccion4mentores .mentores-imagen {
    max-width: $seccion4mentores-img-max-width;
    max-height: auto;
  }
}

@media (max-width: 576px) {
  .hero2mentores {
    padding-left: $hero2mentores-padding-sm;
    padding-right: $hero2mentores-padding-sm;
    text-align: center;
    align-items: center;
  }

  .mentores-container {
    padding-left: $seccion2mentores-padding-sm;
    padding-right: $seccion2mentores-padding-sm;
  }

  .mentoressection3 {
    padding: $mentores-section3-padding-sm;
    align-items: center;
    text-align: center;
  }

  .seccion4mentores .mentores-imagen {
    max-width: $seccion4mentores-img-max-width;
    max-height: auto;
  }
}


//! Media queries Testimonios

@media (max-width: 768px) {
  .testimonioshero {
    padding: $nosotros-hero-padding-md;
    /* Ajuste de padding para tabletas y móviles */
    font-size: $testimonios-font-size-md;
    /* Ajuste de tamaño de fuente para mejor legibilidad */
  }

  .testimonio-videos-grid {
    grid-template-columns: repeat(2, 1fr);
    /* Dos columnas en tabletas */
    gap: 20px;
  }
}

@media (max-width: 576px) {
  .testimonioshero {
    padding: $nosotros-hero-padding-sm;
    font-size: $nosotros-hero-font-size-sm;
  }

  .testimonio-videos-grid {
    grid-template-columns: 1fr;
    /* Una sola columna en móviles */
    gap: 20px;
  }
}